@media (max-width: 480px) {
  .container {
    width: 100%;
  }
  .username {
    display: none;
  }
  .sidebar {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .username {
    display: none;
  }

}

@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}
.app {
  align-items: center;
  justify-content: center;
}

.formContainer {
  background-color: #3e3c61;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWraper {
  background-color: white;
  padding: 20px 40px;
  border-radius: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.logo {
  color: #3e3c61;
  font-size: 30px;
  font-weight: 400;
}

.title {
  color: #3e3c61;
  font-size: 22px;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #a7bcff;
  &::placeholder {
    color: rgb(175, 175, 175);
  }
}

button {
  background-color: #a7bcff;
  color: black;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2f2d52;
  color: white;
}

.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  overflow: hidden;
  border: 1px solid black;
  padding: 0px;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  display: flex;
}

.sidebar {
  flex: 1;
  border-right: 1px solid rgb(251, 250, 248);
  background-color: #3e3c61;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.9%;
  background-color: #2f2d52;
  color: white;
  padding: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

img {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.logout {
  background-color: #5d5b8d;
  color: #ddddf7;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

.search {
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.clear {
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.searchform {
  padding: 10px;
}

.searchbarform {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;

  &::placeholder {
    color: rgb(175, 175, 175);
  }
}

.userchat {
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: white;

  &:hover {
    background-color: #2f2d52;
  }
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userinfo {
  display: flex;
  flex-direction: column;
}

.title1 {
  font-size: 18px;
  color: white;
}

.title2 {
  font-size: 14px;
  color: lightgray;

}

.chat {
  flex: 2;
  position: relative;
}

.chatinfo {
  height: 70px;
  background-color: #3e3c61;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: white;
}
.chatusername{
  margin-left: 10px;
}

.messages {
  background-color: #ddddf7;
  padding: 10px;
  height: 100%;
  overflow: scroll;
}

.message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  &.owner {
    flex-direction: row-reverse;

    .messageContent {
      align-items: flex-end;
    }
  }
}

.messageinfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 200;
  font-size: 12px;
}

.messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}

.input {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin: 0px;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chattext {
  outline: none;
  background-color: transparent;
  border: none;
  width: 100%;
  color: #2f2d52;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.SendButton {
  padding: 5px 20px;
  color: white;
  background-color: #3e3c61;
  outline: none;
  border-radius: 4px;
}